/**
 * post
 */
.component-post
{
	position: absolute;
	
	max-width: 150px;
	padding: 5px 7px;
	box-shadow: 0 0 1px 0px rgba(34,35,35,0.97);
	
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: white;
	
	font-size: 15px;
	
	overflow: hidden;
}

/**
 * profile
 */
.component-profile
{
	position: absolute;
	width: 60px;
	height: 40px;
	
	background-color: white;
	
	border: 1px solid #aaa;
	border-radius: 5px;
	
	box-shadow: 0 0 1px 0px rgba(34,35,35,0.97);
	
	font-size:0;
	
	padding: 5px;
	box-sizing: content-box;
}

.component-profile > .image-pane
{
	width: 40px;
	height: 40px;
	
	display: inline-block;
	
	vertical-align: top; 
	
	box-sizing: border-box;
}

.component-profile > .image-pane > img
{
	width: 100%;
}

.component-profile > .function-pane
{
	width: 20px;
	height: 20px;
	
	display: inline-block;	
	vertical-align: top;
	box-sizing: border-box;
	
	font-size: 12px;
	
	text-align: center;
}

.component-profile > .function-pane > .function
{
	width: 20px;
	height: 20px;

	cursor: pointer;	
}