<!DOCTYPE html>
<html>
<head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name='viewport' content='width=device-width' />  
<meta charset="UTF-8" />  	
<link rel="stylesheet" href="@{js/libs/bootstrap/bootstrap.min.css}">

<style>
.list-table
{
	width: 100%;
	background-color: white;
}

.list-table th
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
	text-align: center;
}

.list-table td
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.list-table .left
{
	text-align: left;
}

.list-table .center
{
	text-align: center;
}

.list-table .right
{
	text-align: right;
}

.list-table input[type='text'], input[type='number']
{
	padding: 5px;
}

.author, .published-date
{
	text-align: center;
}
</style>

<script src="@{js/libs/jquery/jquery-3.1.1.min.js}"></script>
<script src="@{js/libs/jquery/jquery-3.1.1.min.js}"></script>

<script type="text/template" id="listItemTemplate">
<tr id="{_id}">
	<td>{new}<a href="/article?_id={_id}">{subject}</a></td>
	<td class="author">{author}</td>
	<td class="published-date">{published_date}</td>
</tr>
</script>

<script>
$(document).ready(function()
{
	$.ajax({url : '/api/posts'}).done(function(data)
	{
		data = data.sort(function(a, b)
		{
			var date_a = new Date(a.published_date);
			var date_b = new Date(b.published_date);
			
			return date_a.getTime() < date_b.getTime() ? 1 : 0;
		});
		

		var today = new Date().getTime();

		var template = $('#listItemTemplate').html();
		var html = '';
		for(var i=0; i<data.length; i++)
		{
			var t = template;
			t = t.replace(/{_id}/gi, data[i]._id);
			for(var key in data[i])
			{
				if(key == 'published_date')
				{
					var date = new Date(data[i][key]);
					var year = date.getFullYear();
					var months = date.getMonth() + 1;
					var dayOfMonth = date.getDate();
					var hour = date.getHours();
					var min = date.getMinutes();
					var sec = date.getSeconds();
					
					months = months >= 10 ? months : '0' + months;
					dayOfMonth = dayOfMonth >= 10 ? dayOfMonth : '0' + dayOfMonth;
					hour = hour >= 10 ? hour : '0' + hour;
					min = min >= 10 ? min : '0' + min;
					sec = sec >= 10 ? sec : '0' + sec;
					
					data[i][key] = year + '-' + months + '-' + dayOfMonth + ' ' + hour + ':' + min + ':' + sec;

					var tmp = (today - date.getTime()) / 60000;
					if(tmp <= 60 * 12)
					{
						t = t.replace('{new}', '<img src="/views/imgs/ico-new.gif"> ');
					}
					else
					{
						t = t.replace('{new}', '');
					}
				}
				
				t = t.replace('{' + key + '}', data[i][key]);
			}
			
			html += t;
		}
		
		$('#articleList').html(html);

		$('#articleList tr').each(function()
		{
			var that = this;
			var id = $(this).attr('id');
			$.ajax({url : '/api/comments/' + id}).done(function(result)
			{
				var td = $(that).find('td:first a');
				td.text(td.text() + ' [' + result.length + ']');
			}).fail(function(error)
			{
				$('#mainContainer').html(error);
			});
		});
	}).fail(function(error)
	{
		$('#mainContainer').html(error);
	});
});
</script>

</head>
<body>
<div class="container" style="margin-top: 50px;" id="mainContainer">
	<div style="margin: 10px 0; text-align: right;">
		<a class="btn btn-default" href="/write">글쓰기</a>
		<a class="btn btn-default" href="/logout">로그아웃</a>
	</div>
	<table class="list-table">
		<colgroup>
			<col style="width: 60%;">
			<col style="width: 20%;">
			<col style="width: 20%;">
		</colgroup>
		<thead>
			<tr>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
		</thead>
		<tbody id="articleList">
		</tbody>
	</table>
</div>
</body>
</html>