<!DOCTYPE html>
<html>
<head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name='viewport' content='width=device-width' />  
<meta charset="UTF-8" />  	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="@{css/common.css}">
<link rel="stylesheet" href="@{css/login.css}">

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="@{js/libs/common.js}"></script>
<script src="@{js/libs/form.js}"></script>
<script src="@{js/login.js}"></script>
</head>
<body>

<div class="jumbotron" style="background-color: white; margin-top: 100px;">
	<div class="container" style="text-align: center;">
		<h1 class="title">추억</h1>
		<form id="signinForm">
			<div class="input-group">
				<input type="text" class="form-control" name="username" placeholder="Username" required>
			</div>
			<div class="input-group">
				<input type="password" class="form-control" name="password" placeholder="Password" required pattern="[a-zA-Z0-9@~!@#$%^&*\(\)-_\.]*">
			</div>
			<div class="input-group" style="display: none;">
				<input type="password" class="form-control" name="passwordConfirm" placeholder="Password confirm" pattern="[a-zA-Z0-9@~!@#$%^&*\(\)-_\.]*">
			</div>
			<div class="submit-group">
				<input type="submit" style="display: none;">
				<button type="button" class="btn btn-primary" id="signin">로그인</button>
			</div>
			<p class="result-desc"></p>
		</form>
	</div>
</div>
</body>
</html>